
.card-pokemon {
    padding: 20px;
    margin: 10px;
    border: solid 5px darkred;
    border-radius: 10px ;
    background-color: rgba(251,138 , 138, 1);
    /* background-color: rgba(35, 137, 162, 0.9); */
    /* background-color: rgb(35, 137, 162) ; */
    font-family: Raleway;
    font-size: 20px;
    opacity: 0.9;
}

h1 {
    color:darkred;

    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

h1:link {
    text-decoration: none;
}

h1:visited {
    text-decoration: none;
}

h1:hover {
    text-decoration: none;
}

h1:active {
    text-decoration: none;
}

/* Link {
    text-decoration: none;
} */

.card img{
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	width: 230px;
	height: 200px;
}