body {
    margin: 0px;
    padding: 0px;
}

.mainpage img {
    width: 98vw;
    height: 98vh;
    position: relative;
}


.pokeball img  {
    position: absolute;
    top: 30px; left: 100px;
    width: 450px;
    height: 450px;
}

.gottacatch img {
    position: absolute;
    top: 550px; left: 300px;
    width: 900px;
    height: 150px;
}

.circle {
    position: relative;
    bottom: 614px; left: 281px;
    width: 75px;  
}

.light {
    width: 100%; 
    padding-bottom: 100%;
    border-radius: 50%;
    border: 7px solid #7c8690;
    background: #ececec; 
    box-shadow: 0 0 3px gray;
    transition: 0.5s;
}