.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: aliceblue;
    opacity: 0.9;
}
.bottom-pokeball {
    background-color: rgb(255, 0, 0);;
    border: solid black 5px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-left: none;
    border-right: none;
    margin-top: 0;
    
}
button{
    color: darkred;
    border-radius: 10px;
    
}

.filterBtn {
    vertical-align: middle;
    height: 60px;
    padding: 20px;
    margin-top: 8px;
}
.refreshBtn {
    vertical-align: middle;
    height: 60px;
    padding: 20px;
    margin-top: 8px;
}

select {
    border-radius: 10px;
    /* background-color: #0563af; */
    background-color: rgba(251,138 , 138, 1);
    
    /* background-color: rgb(35, 137, 162); */
padding: 5px;
    color: darkred;
    width: 93px;
    border: none;
}

option {
    /* background-color: rgb(35, 137, 162); */

    color: darkred;
    width: 90px;    
    border-radius: 3px;
}

div {
    
    font-weight: bold;
}

.searchbar {
    margin-top: 14px;
    margin-bottom: 18px;
    margin-left: 20px;
    padding: 5px;
    border: solid rgb(230, 230, 0) 3px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px
}

.searchbar input {
    width: 250px;
    /* background: #57e3ff; */
    border: 4px solid darkred;
    border-radius: 80px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
}

.filter {
    display: flex;
    padding: 10px;
    border: solid rgb(230, 230, 0) 3px;
    background-color: rgb(255, 0, 0);
    justify-content: right;
    border-radius: 5px;
    margin-right: 20px;
}

label {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 14px;
    height: 10px;
    color: darkred;
}

.refresh { 
    position: relative;
    left: 0px;
    width: 70px; 
}

.light {
    width: 100%; 
    padding-bottom: 100%;
    border-radius: 50%;
    border: 7px solid #7c8690;
    background: #ececec; 
    transition: 0.2s;
}

.light:hover {
    background: #2080c9; 
    box-shadow: 0 0 30px #2080c9;
}

.light:active  {
    background: #ececec; 
}


